body{
  background: url(https://cdn.drawception.com/drawings/710169/QbnKHTSHhQ.png) no-repeat  ;
  background-color: black;
  background-size: 100vw;
}

#tela h1{
  color: #fff;
  font-size: 70px;;
}
#tela{
  height: 95vh;
  width: 95;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

canvas{
  border-radius: 10%;
}